@model IQueryable<User>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Media Database </title>
</head>

<body>
    <hr />
    @foreach (User u in Model)
    {
        <a asp-controller="User" asp-action="Detail" asp-route-id=@u.Id><h3> @u.Email  </h3></a>
        <hr />
    }
    <a asp-controller="User" asp-action="Create"><strong>Create New User+</strong></a>
</body>
</html>
