@model IQueryable<User>

@{ 
    ViewBag.Title = "Search Page";
}

<body>
    <hr />
    @foreach (User u in Model)
    {
        <a asp-controller="User" asp-action="Detail" asp-route-id=@u.Id><h3> User Email: @u.Email  </h3></a>
        <hr />
    }
    <a asp-controller="User" asp-action="Index"><button> Back </button></a>
</body>

