@model MediaEntry

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Media Database</title>
</head>
<body>
    <form asp-action="Update" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="UserId" />
        <input type="hidden" name="id" value=@Model.Id />
        <input type="hidden" name="userId" value=@Model.UserId /> 
        <table>
            <tr>
                <th>Name: </th>
                <td><input asp-for="Name" /></td>
            </tr>
            <tr>
                <th> Size: </th>
                <td><input asp-for="Size" /></td>
            </tr>
            <tr>
                <th>Unit of Issue: </th>
                <td><input asp-for="SizeType" /></td>
            </tr>
            <tr>
            <tr>
                <td><input type="submit" value="Update" /></td>
                <td>
                    <button asp-controller="MediaEntry" asp-action="Detail">
                        Cancel 
                    </button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>